body {
    font-family: sans-serif;
}


h1 {
    text-align: center;
    background-color: lightcyan;
}


h2 {
    text-align: center;
    background-color: lightcyan;
}


header {
    background-color: lightcyan;
}
h3 {
    background-color: aliceblue;
}

footer {
    color: white;
    background-color: black;
}


h4 {
    text-align: center;
     background-color: lightcyan;
}
